<!DOCTYPE html>
<html>
<head>
	<title>Cluster Exploring UI</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/codeinterest-1.0.css">
	<script type="text/javascript" src="/static/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/d3.min.js"></script>
	<script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/codeinterest-1.0.js"></script>
</head>
<body>

<div id="navigation">
	<div class="navTitle">Navigation</div>
	<div class="navigationContent"></div>
	<div class="tabOpenClose">&ratio;</div>
</div>
<div class="container">
	<div class="section right">

	</div>

	</div>

</div>

</body>
</html>
