/* TODO: Not using color variables yet, doesn’t have to be themed. */

.setup__done {
  width: 100%;
}

.setup__done__settings {
  display: block;
  color: cornflowerblue;
}

.setup__done__settings:hover {
  text-decoration: underline;
}

.setup__done .loading__spinner {
  margin: 2rem 0;
}

.setup__icon {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.setup__icon > * + * {
  margin-left: 2rem;
}

.setup__icon__check {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0;
  text-align: center;
  padding: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.setup__icon__check:hover {
  background-color:  #2967e0;
}

.setup__instructions__proto {
  min-height: 20vh;
}

.setup__instructions {
  max-height: 55vh;
  overflow: auto;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  min-height: 7rem;
}


.setup__editor {
  width: 100%;
}

.setup__editor-name {
  margin: 0;
  font-size: 1.5rem;
}

.setup__editor-instructions {
  margin: 0.5rem 0 1rem;
  padding-left: 3rem;
  font-size: 1.35rem;
}

.setup__metrics__disclaimer {
  font-weight: 200;
  font-size: 1.3rem;
  color: white;
  line-height: 1.2rem;
  margin-top: -2rem;
  margin-left: 5.4rem;
}

.setup__metrics__disclaimer--link {
  text-decoration: underline;
  color: #1fb0ff;
}

.setup__metrics__disclaimer--link:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}