@import url("../../../../../assets/index.css");

@keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.lds-flickr {
  position: relative;
}
.lds-flickr div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 40px;
  left: 20px;
}
.lds-flickr div:nth-child(1) {
  background: var(--external-background);
  -webkit-animation: lds-flickr 1.2s linear infinite;
  animation: lds-flickr 1.2s linear infinite;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-flickr div:nth-child(2) {
  background: var(--external-headline);
  -webkit-animation: lds-flickr 1.2s linear infinite;
  animation: lds-flickr 1.2s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-flickr div:nth-child(3) {
  background: var(--external-background);
  -webkit-animation: lds-flickr-opacity 1.2s linear infinite;
  animation: lds-flickr-opacity 1.2s linear infinite;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-flickr {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
}