.reset-password {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 50rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.reset-password > * {
  margin: 0;
}

.reset-password > * + * {
  margin-top: 2rem;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
}

.reset-password__form > * {
  margin: 0;
}

.reset-password__form > * + * {
  margin-top: 2rem;
}

.reset-password__input {
  width: 100%;
  border: 1px solid #0a2e64;
  padding: 0.5rem 1rem;
  outline: none;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.reset-password__button {
  background: #0a2e64;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.reset-password__button:hover {
  background: #4e6e9e;
}

.reset-password__button:active {
  background: black;
}

.reset-password__error {
  color: red;
  font-size: 1.4rem;
}

.reset-password__error:first-letter {
  text-transform: uppercase;
}
