@import url('../../assets/index.css');

@keyframes lds-ripple {
  0% {
    top: 86px;
    left: 86px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 13px;
    left: 13px;
    width: 146px;
    height: 146px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 14px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1.6s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: var(--external-headline);
}
.lds-ripple div:nth-child(2) {
  border-color: var(--external-background);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}