[Unit]
Description=Launches the server that fetches conversion cohort data
After=syslog.target network.target

[Service]
Type=simple
Restart=always
StartLimitInterval=0
RestartSec=30
ExecStart=/var/kite/aws/run_with_secrets -s CUSTOMER_IO_API_KEY /var/kite/bin/convcohort

[Install]
WantedBy=multi-user.target
