<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <title>Examples - {{.Path}}</title>
    <style>
        table {
            width: auto !important;
        }
        .correct {
            background-color: #74ed74;
        }
        .best {
            background-color: #c9fcc9;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h4>{{.Count}} Examples in {{.Path}}</h4>
        <h4>(<a href="/examples">show all</a>)</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Provider</th>
                <th>Best</th>
                <th>Correct</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {{range $pb := .ByProvider}}
                <tr>
                    <td>{{$pb.Provider}}</td>
                    <td {{if $pb.IsBest}}class="best"{{end}}>{{$pb.Best}} ({{printf "%.2f" $pb.BestPercent}}%)</td>
                    <td>{{$pb.Correct}} ({{printf "%.2f" $pb.CorrectPercent}}%)</td>
                    <td>{{$pb.Total}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Count</th>
                {{range $prov := .Providers}}
                    <th><a href="/?sort={{$prov}}">{{$prov}} best</a></th>
                {{end}}
                {{range $prov := .Providers}}
                    <th>{{$prov}} correct</th>
                {{end}}
            </tr>
            </thead>
            <tbody>
            {{range $sb := .BySymbol}}
                <tr>
                    <td><a href="/examples?symbol={{$sb.Symbol}}">{{$sb.Symbol}}</a></td>
                    <td>{{$sb.Count}}</td>
                    {{range $pb := $sb.Providers}}
                        <td {{if $pb.IsBest}}class="best"{{end}}>
                            <a href="/examples?symbol={{$sb.Symbol}}&sort={{$pb.Provider}}">
                                {{$pb.Best}} ({{printf "%.2f" $pb.BestPercent}}%)
                            </a>
                        </td>
                    {{end}}
                    {{range $pb := $sb.Providers}}
                        <td>{{$pb.Correct}} ({{printf "%.2f" $pb.CorrectPercent}}%)</td>
                    {{end}}
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>