model_config_list: {
    config: {
        name: "go-large",
        base_path: "/models/go-large/tfserving",
        model_platform: "tensorflow"
    },
    config: {
        name: "py-large",
        base_path: "/models/py-large/tfserving",
        model_platform: "tensorflow"
    },
    config: {
        name: "js-large",
        base_path: "/models/js-large/tfserving",
        model_platform: "tensorflow"
    },
    config: {
        name: "all-langs-large",
        base_path: "/models/all-langs-large/tfserving",
        model_platform: "tensorflow"
    }
}
