CREATE EXTERNAL TABLE IF NOT EXISTS kite_metrics.{{table_name}} (
userId string,
timestamp string,
event string,
properties struct<mac_address: string,
    os_version: string,
    client_version: string,
    region: string,
    logged_in: boolean,
    has_proxy: boolean,
    ggnn_subtoken_enabled: boolean,
    lexical_enabled: boolean,
    memory_total: bigint,
    memory_available: bigint,
    cpu_mhz: bigint,
    cpu_threads: bigint,
    atom_installed: boolean,
    atom_plugin_installed: boolean,
    sublime3_installed: boolean,
    sublime3_plugin_installed: boolean,
    intellij_installed: boolean,
    intellij_plugin_installed: boolean,
    pycharm_installed: boolean,
    pycharm_plugin_installed: boolean,
    vscode_installed: boolean,
    vscode_plugin_installed: boolean,
    vim_installed: boolean,
    vim_plugin_installed: boolean,
    nvim_installed: boolean,
    nvim_plugin_installed: boolean,
    emacs_installed: boolean,
    emacs_plugin_installed: boolean,
    atom_version: string,
    atom_plugin_version: string,
    sublime3_version: string,
    sublime3_plugin_version: string,
    intellij_version: string,
    intellij_plugin_version: string,
    pycharm_version: string,
    pycharm_plugin_version: string,
    vscode_version: string,
    vscode_plugin_version: string,
    vim_version: string,
    vim_plugin_version: string,
    nvim_version: string,
    nvim_plugin_version: string,
    atom_events: int,
    sublime3_events: int,
    intellij_events: int,
    pycharm_events: int,
    vscode_events: int,
    vim_events: int,
    nvim_events: int,
    emacs_events: int,
    spyder_events: int,
    atom_running: boolean,
    sublime3_running: boolean,
    intellij_running: boolean,
    pycharm_running: boolean,
    vscode_running: boolean,
    vim_running: boolean,
    nvim_running: boolean,
    emacs_running: boolean,
    python_edit: int,
    python_select: int,
    python_events: int,
    javascript_edit: int,
    javascript_select: int,
    javascript_events: int,
    go_edit: int,
    go_select: int,
    go_events: int,
    java_edit: int,
    java_select: int,
    java_events: int,
    golang_requests: int,
    completions_requested: int,
    completions_requested_expected: int,
    completions_requested_unexpected: int,
    completions_triggered: int,
    completions_shown: int,
    completions_used: int,
    completions_num_selected: int,
    completions_num_completed: int,
    completions_chars_inserted: int,
    completions_timeout: int,
    signatures_triggered: int,
    signatures_shown: int,
    indel_javascript_total_inserts: int,
    indel_javascript_total_deletes: int,
    indel_javascript_whitespace_inserts: int,
    indel_javascript_whitespace_deletes: int,
    indel_javascript_multiline_inserts: int,
    indel_javascript_multiline_deletes: int,
    indel_javascript_multiline_whitespace_inserts: int,
    indel_javascript_multiline_whitespace_deletes: int,
    indel_javascript_occurences_difftype_none: int,
    indel_javascript_occurences_no_diffs: int,
    indel_vue_total_inserts: int,
    indel_vue_total_deletes: int,
    indel_vue_whitespace_inserts: int,
    indel_vue_whitespace_deletes: int,
    indel_vue_multiline_inserts: int,
    indel_vue_multiline_deletes: int,
    indel_vue_multiline_whitespace_inserts: int,
    indel_vue_multiline_whitespace_deletes: int,
    indel_vue_occurences_difftype_none: int,
    indel_vue_occurences_no_diffs: int,
    indel_go_total_inserts: int,
    indel_go_total_deletes: int,
    indel_go_whitespace_inserts: int,
    indel_go_whitespace_deletes: int,
    indel_go_multiline_inserts: int,
    indel_go_multiline_deletes: int,
    indel_go_multiline_whitespace_inserts: int,
    indel_go_multiline_whitespace_deletes: int,
    indel_go_occurences_difftype_none: int,
    indel_go_occurences_no_diffs: int,
    indel_python_total_inserts: int,
    indel_python_total_deletes: int,
    indel_python_whitespace_inserts: int,
    indel_python_whitespace_deletes: int,
    indel_python_multiline_inserts: int,
    indel_python_multiline_deletes: int,
    indel_python_multiline_whitespace_inserts: int,
    indel_python_multiline_whitespace_deletes: int,
    indel_python_occurences_difftype_none: int,
    indel_python_occurences_no_diffs: int,
    sidebar_visible_time: int,
    sidebar_hidden_time: int,
    focus_total_changes: int,
    focus_away_from_editor: int,
    focus_editor_to_browser: int,
    sidebar_running: boolean,
    sidebar_focused: int,
    sidebar_search_query_started: int,
    sidebar_search_result_selected: int,
    sidebar_new_docs_loaded: int,
    sidebar_autosearch_enabled: int,
    sidebar_autosearch_disabled: int,
    sidebar_settings_home_opened: int,
    sidebar_settings_permissions_opened: int,
    sidebar_settings_plugins_opened: int,
    uptime: bigint,
    memory_usage: bigint,
    index_loaded: boolean,
    ping_ms: bigint,
    menubar_visible: boolean,
    partial: boolean,
    events_with_index: int,
    events_without_index: int,
    python_events_in_git_repo: int,
    python_events_not_in_git_repo: int,
    git_found: boolean,
    atom_ksg_opened: int,
    atom_ksg_query_started: int,
    atom_ksg_query_searched: int,
    atom_ksg_snippet_selected: int,
    atom_ksg_so_opened: int,
    atom_ksg_google_opened: int,
    cpu_samples: string,
    cpu_samples_list: array<double>,
    completions_completed_by_source: map<string, int>,
    completions_selected_by_source: map<string, int>,
    completions_shown_by_source: map<string, int>,
    javascript_completions_requested: int,
    jsx_completions_requested: int,
    vue_completions_requested: int>
) PARTITIONED BY (
    prefix string
) 
ROW FORMAT SERDE 'org.apache.hive.hcatalog.data.JsonSerDe'
LOCATION 's3://kite-metrics/firehose/kite_status/'; 