@import url("index.css");

.codeBlock {
  background-color: var(--code-background);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 10px;
  overflow: auto;
}

.codeBlock > .container {
  display: flex;
}

.codeBlock > .container > .leftChild {
  flex: 1 0 80%;
  overflow: auto;
}
