{{ $OK := 1 }}
{{ $UNREACHABLE := 2 }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>healthd</title>

        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">healthd</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Endpoint</th>
                    <th>Last Polled</th>
                    <th>Last Error</th>
                    <th>Alerted</th>
                </tr>
                {{range .}}
                {{ if eq .StatusCode $OK }}
                    <tr class="success">
                {{ else if eq .StatusCode $UNREACHABLE }}
                    <tr class="danger">
                {{ else }}
                    <tr>
                {{ end }}

                    <td>{{.Status}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Endpoint}}</td>
                    <td>{{.LastPolled}}</td>
                    <td>{{.LastError}}</td>
                    <td>{{.Alerted}}</td>
                </tr>
                {{end}}
            </table>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
    </body>
</html>
