.kite__rotating__logo {
  margin: 4rem auto;
  text-align: center;
}

.kite__rotating__logo svg#kite {
	width: 25vw;
	max-width: 200px;
	fill: white;
  margin: 0 auto;
  animation-name: fadeinTranslate;
  animation-duration: 1s;
  animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.kite__rotating__logo svg#kite .top-part {
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
	transform-style: preserve-3d;
	transform-origin: 35% top;
	perspective: 300px;
}

@keyframes spin {
	100% {
		transform: rotate3d(1, 3.1, 0, 360deg);
	}
}

.kite__rotating__logo svg#kite .bottom-part {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
	transform-style: preserve-3d;
	transform-origin: 35% top;
}

@keyframes fadeinTranslate {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		filter: translateY(0);
		opacity: 1;
	}
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}
