.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* Shield */
  z-index: 9999;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__inner {
  background: var(--popup-background);
  padding: 1rem;
  box-shadow: var(--shadow);
  max-width: 90vw;
  border-radius: 0.5rem;
  max-height: 90vh;
  overflow: auto;
}
