[Unit]
Description=Kite Backend
After=syslog.target network.target

[Service]
Type=simple
Restart=always
StartLimitInterval=0
RestartSec=30
ExecStart=/var/kite/run.sh
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
