#set($blob = $input.path('$'))
#set($discard = $blob.put('sourceIp', $context.identity.sourceIp))
#set($discard = $blob.put('messageId', $context.requestId))
#set($timestamp = $context.requestTimeEpoch)
#set($discard = $blob.put('timestamp', $timestamp))
#set($data = $util.base64Encode("$input.json('$')
"))
{
    "DeliveryStreamName": "${stream_name}",
    "Record": {
        "Data": "$data"
    }
}
