.help {
  position: relative;
}

.help__option {
  cursor: pointer;
}

.help__icon {
  width: 2rem;
  height: 2rem;
  mask-image: url(./assets/icon-feedback.svg);
  mask-size: 2rem 2rem;
  cursor: pointer;
  transition: opacity 250ms;
  background-color: var(--text-color-light);
}

.help__icon:hover {
  background-color: var(--bright-color);
}

.help__modal {
  position: absolute;
  bottom: 3rem;
  right: 0;
  background: var(--popup-background);
  box-shadow: var(--shadow);
  width: 14rem;
  z-index: 9999;
}

.help__option {
  display: block;
  padding: 0.5rem 1rem 0.5rem 3rem;
  font-size: 1.4rem;
}
.help__option:before {
  content: '';
  position: absolute;
  left: 0.8rem;
  width: 1.5rem;
  height: 1.8rem;
  mask-size: 1.5rem 1.5rem;
  mask-repeat: no-repeat;
  -webkit-mask-position-y: 100%;
  background: var(--text-color-richer);
}

.help__option:hover {
  background-color: var(--popup-menu-selected-background);
  color: var(--popup-menu-text-color);
}
.help__option:hover:before {
  background: var(--popup-menu-text-color);
}

.help__get-help:before {
  mask-image: url(./assets/icon-question.png);
}
.help__give-feedback:before {
  mask-image: url(./assets/icon-send.png);
}

.help__closer {
  z-index: 9998;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
